body{
    background-color: peachpuff;
    font-family: fantasy;
    font-size: 35px;
    text-align: center;
    color: plum;
    text-transform: capitalize;
}

img{
    width: 70%;
    padding-top: 15px;
    padding-bottom: 20px;
    border-collapse: collapse;
}

/*==================================== FORM ========================================*/

form{
    background-color: papayawhip;
    font-style: italic;
    font-size: medium;
    color: black;
    text-transform: uppercase;
}



























